/*
add tranistions to menus 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html{
    background-color: lightsteelblue;
    background-image: url("../images/bgtile.jpg");
    background-attachment: fixed;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border: 3px solid steelblue;
    background-color: white;
    box-shadow: 5px 10px 3px 10px #888888;
}
h3,p, blockquote {
    margin-bottom: 12px;
}
h1{
    font-size: 300%;
    color: lightsteelblue;
    text-align: center;
    margin: 10px 0 0;
    font-variant: small-caps;
    text-shadow: 1px 1px 2px #000000, -1px -1px 2px #000000,1px -1px 2px #000000, -1px 1px 2px #000000;
}
header{
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(white, lightsteelblue);
}
header h2 {
    font-size: 300%;
    font-style: italic;
    color: steelblue;
    text-shadow: 5px 5px 12px steelblue;
    padding: 15px 0 2px;
}
#logoimage {
    float: left;
    padding: 1em 1.5em;
}
.construction{
    display: block;
    margin: auto;
}
#nav_menu{
    position: sticky;
    top: 0;
}
.container{
    display: flex;
    list-style: none;
    background-color: steelblue;
    position: relative;
}
.container li {
    flex: 1;
}
.container li a{
    display: block;
    padding: .75em 1em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s;
}
.container li a:hover{
    color: black;
    background-color: lightsteelblue;
}
/* container second tier code*/
.container ul{
    display: none;
    background-color: steelblue;
    width: 20%;
    list-style: none;
    position: absolute;
    top: 100%;
    box-shadow: 7px 7px 15px -1px gray;;
}
.container ul li{
    flex-direction: column;
}
.container ul li a{
    padding-left: 1em;
    display: block;
    width: 100%;
}
.container li:hover > ul{
    display: block;
}
/* Vertical Nav List*/
#nav_list h2{
    margin-bottom: 5px;
    text-align: center; 
}
#nav_list ul{
    list-style-type: none;
}
#nav_list ul li{
    width: 90%; 
    margin: 0 auto 0.5em;
    background-color: lightsteelblue;
}
#nav_list ul li a{
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightsteelblue;
    padding: 0.5em 0 0.5em 0.5em;
    color: black;
    border-radius: 25px;
    transition: all 1s;
}
#nav_list ul li a:hover{
    color: white;
    background-color: steelblue;
}
main{
    padding: 0 1em;
}
main h2{
    text-align: center;
}
aside{
    width: 30%;
    padding-top: 1.5em;
}
section{
    width: 40%;
    float: left;
    padding-top: 10px;
    padding-right: 5px;
}
#leftaside{
    float: left;
}
#rightaside{
    float: right;
    padding-left: 5px;
}
article{
    display: flex;
    flex-direction: column;
}
article > img{
    margin: 1em 2em;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px darkslategray;
}
.icon{
    float:left;
    max-width: 25px;
    margin-right: 0.5em;
}
section h3::after{
    clear: left;
}
section p{
    margin: 0 2em 1.5em;
}
section h3{
    margin-bottom: 5px;
}
blockquote{
    width: 80%;
    margin: 1em auto;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 1em;
    border-left: 3px solid steelblue;
    background-color: #eeeeee;
    border-radius: 5px;
}
h3{
    font-size: 150%;
}
aside a{
    text-decoration: none;
}
section a:link, section a:visited {
    color: maroon;
}

section a:hover, section a:active {
    color: steelblue;
}

aside a:link, aside a:visited {
    color: steelblue;
}

aside a:hover, aside a:active {
    color: maroon;
}
aside ul{
    margin-left: 1em;
}
aside li{
    font-weight: bold;
    line-height: 130%;
}
footer{
    clear: both;
    background-color: steelblue;
    padding: 15px 0;
    margin-top: 15px;
}
footer p{
    color: white;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
}
/* hide the mobilemenu*/
#mobilemenu{
    display: none;
}
/*Media Queries*/
@media only screen and (max-width: 900px) {
    html{
        background-image: none;
    }
    body {
        box-shadow: none;
        font-size: 90%;
        border: none;
    }
    #leftaside{
        display: none;
    }
    section{
        width: 70%;
        padding-left: 1em;
    }
  }
@media only screen and (max-width: 767px) {
    #nav_menu {
        display: none;
    }
    #mobilemenu{
        display: block;
    }
    .slicknav_menu{
        background-color: steelblue !important;
    }
    header h2{
        font-size: 200%;
    }
    h1{
        font-size: 200%;
    }
    section, aside{
        float: none;
        width: 100%;
        margin: 0 auto; 
        padding: 0.5em;
    }
    #logoimage{
        float: none;
        padding: 0.5em;
        display: block;
        margin: 0 auto;   
    }
    header h2, header h3{
        margin: 0 auto;
        text-align: center;
    }
  }